<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New ThinkJS Application</title>
<link href="/static/css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <header>
    <div class="wrap">
      <h1>text</h1>
    </div>
  </header>
  <div class="content">
    <div class="list">
      <div class="item">
        <div class="step">1</div>
        <h2>Generate Files</h2>
        <p>Run <code>thinkjs</code> command to create module, controler, model, service and so on. visit <a href="https://thinkjs.org/doc/thinkjs_command.html">https://thinkjs.org/doc/thinkjs_command.html</a> to view more infomation.</p>
      </div>
      <div class="item">
        <div class="step">2</div>
        <h2>Documatation</h2>
        <p>ThinkJS has html and pdf documents. visit <a href="https://thinkjs.org/doc.html">https://thinkjs.org/doc.html</a></p>
      </div>
      <div class="item">
        <div class="step">3</div>
        <h2>WebSocket</h2>
        <p>ThinkJS support <code>socket.io</code> and <code>sockjs</code> WebSocket client and server node. visit <a href="https://thinkjs.org/doc/adapter_websocket.html">https://thinkjs.org/doc/adapter_websocket.html</a></p>
      </div>
    </div>
  </div>
</body>
</html>